/* Reset default margin and padding, set height to 100% */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Style for player X/O in red */
.xo {
    color: red;
}

/* Styling for the entire body */
body {
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.744);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000000;
    color: white;
}

/* Center align text in the header */
header {
    text-align: center;
}

/* Styling for the main content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Styling for the content container */
.content-container {
    text-align: center;
}

/* Styling for the game board */
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    background-color: #000000;
    padding: 10px;
    border: 2px solid #ffffff86;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

/* Styling for each cell in the game board */
.cell {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    cursor: pointer;
}

/* Hover effect for cells */
.cell:hover {
    background-color: #7e7e7e44;
}

/* Styling for the reset button */
button {
    margin-top: 10px;
    background-color: white;
    color: black;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}